<div class="select-category">
    <nav class="navbar navbar-fixed-top navbar-color-on-scroll">
        <div class="container">
            <div class="navbar-header">
                <img src="assets/libs/material-kit/assets/img/christian.jpg" alt="" class="img-circle img-raised img-responsive">
                <a class="navbar-brand" href="#">Ashish</a>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <div 
            class="header header-filter" 
            style="background-image: url('assets/libs/material-kit/assets/img/examples/city.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="title">Survey</h2>
                            <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. </h5>
                        </div>
                    </div>
                </div>
        </div>
        <div class="main main-raised">
            <div class="container">
                <div class="section text-center section-landing">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="title">Survey</h2>
                            <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. </h5>
                        </div>
                    </div>
                    <div class="row survey-type-wpr">
                        <div 
                            ng-show="(surveyTypes) && (surveyTypes.length < 5)" 
                            ng-class="classForSurveyTypes"
                            ng-repeat="item in surveyTypes track by $index"
                            >
                            <div ng-class="['item-wpr', item.status]">
                                <span ng-if="item.status != 'done'">{{$index}}</span>
                                <i ng-if="item.status == 'done'" class="material-icons">done</i>
                            </div>
                            <div>{{item.name}}</div>
                        </div>
                    </div>
                    <div class="row">This is going to be QUIZ Section</div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="http://www.creative-tim.com">
                            Revelo
                        </a>
                    </li>
                    <li>
                        <a href="http://presentation.creative-tim.com">
                           About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                           Blog
                        </a>
                    </li>
                    <li>
                        <a href="http://www.creative-tim.com/license">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy; 2016, made with <i class="fa fa-heart heart"></i> by Ashish Mishra
            </div>
        </div>
    </footer>
</div>