@import "base/_reset";
@import "base/_typography";
@import "base/colors";

@import "helpers/_variables";
@import "layouts/_header";

@import "components/_card";
@import "components/_survayTypes";

body {
	margin: 0;
    background: $white-color;
    @include font-light(0, 100);
}
.navbar-header img{
    width: 50px;
    display: inline-block;
    float: left;
    margin: 0 10px 0 20px;
}

/*select-category*/
.select-category .header{
    height: 380px;
    background-position: top center;
}
.select-category .header .container {
    padding-top: 16vh;
    color: $white-color;
}
.select-category .section{
    padding: 70px 0;
}

/*Override*/
.navbar, .navbar.navbar-default {
    background-color: #00695C !important;
    background-color: #9E9E9E !important;
    background-color: #616161 !important;
    background-color: #00838F !important;
}

