<div class="select-category">
    <nav class="navbar navbar-fixed-top navbar-color-on-scroll">
        <div class="container">
            <div class="navbar-header">
                <img src="assets/libs/material-kit/assets/img/christian.jpg" alt="" class="img-circle img-raised img-responsive">
                <a class="navbar-brand" href="#">Ashish</a>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <div 
            class="header header-filter" 
            style="background-image: url('assets/libs/material-kit/assets/img/examples/city.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="title">Revelo</h2>
                            <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. </h5>
                        </div>
                    </div>
                </div>
        </div>
        <div class="main main-raised">
            <div class="container">
                <div class="section text-center section-landing">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="title">You are looking for</h2>
                            <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="item in [1,2,3,4,5,6,7,8]">
                            <div class="cust-card">
                                <img src="assets/images/travel-card.jpeg" alt="">
                                <div class="card-content">
                                    Some text about the card
                                    <div class="cta"><i class="material-icons">play_arrow</i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="http://www.creative-tim.com">
                            Revelo
                        </a>
                    </li>
                    <li>
                        <a href="http://presentation.creative-tim.com">
                           About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                           Blog
                        </a>
                    </li>
                    <li>
                        <a href="http://www.creative-tim.com/license">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy; 2016, made with <i class="fa fa-heart heart"></i> by Ashish Mishra
            </div>
        </div>
    </footer>
</div>